.App {
  text-align: center;
}

html body {
  font-family: "Montserrat", sans-serif;
  background-color: #131f44;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titleView {
  /* border: solid red; */
  height: 100vh;
  background-color: #131f44;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleWhiteBackground {
  background-color: white;
  border: solid white;
  width: 50%;
  height: 70%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 65px;
}

.subTitle {
  font-size: 40px;
}

.name {
  font-size: 30px;
}

/* Overview */
.overViewView {
  /* border-top: solid grey; */
  /* display: flex; */
  background-color: #131f44;
  padding-bottom: 100px;
}

.overview {
  display: block;
  font-size: 65px;
  text-align: center;
  /* margin-left: 10%; */
  /* border: solid pink; */
  margin-top: 100px;
  margin-bottom: 60px;
  background-color: white;
  width: 400px;
  border-radius: 30px;
}

.overviewTitleContainer {
  display: flex;
  justify-content: center;
}

.overviewTextContainer1 {
  height: 500px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 2%;
  margin-bottom: 60px;
}

.overviewTextContainer2 {
  height: 650px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 2%;
  margin-bottom: 60px;
}

.overviewImage {
  width: 554px;
  height: 800px;
  border-radius: 18px;
  /* margin-top: 60px; */
}

.welcomeMessageContainer {
  display: flex;
  /* border: solid orange; */
  justify-content: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 5%;
}

.welcomeMessage {
  /* border: solid grey; */
  width: 400px;
  max-width: 400px;
  min-width: 400px;
  /* margin-left: 40px; */
  font-size: 24px;
  flex-wrap: nowrap;
  /* border-radius: 18px; */
  /* background-color: white; */
  /* padding: 1%; */
  text-align: start;
}

.overviewImage {
  position: relative;
  /* margin-left: 6%; */
  z-index: 2;
  /* transform: translate(400px, -600px); */
}

/* Purpose */
.purposeView {
  /* border: solid lightgreen; */
  background-color: #131f44;
  /* border-top: solid grey; */
  padding-bottom: 100px;
  /* border-bottom: solid grey; */
}

.purposeTitleContainer {
  display: flex;
  justify-content: center;
}

.purposeViewTextContainer {
  height: 400px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 2%;
}

.purpose {
  display: block;
  font-size: 65px;
  margin-top: 100px;
  margin-bottom: 60px;
  background-color: white;
  width: 400px;
  text-align: center;
  border-radius: 30px;
  /* border: solid pink; */
}

.purposeMessageContainer {
  display: flex;
  /* border: solid orange; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
}

.purposeMessage {
  /* border: solid red; */
  width: 800px;
  min-width: 400px;
  /* margin-left: 100px; */
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
  /* background-color: white; */
  text-align: start;
  /* border-radius: 30px; */
}

.purposeImage {
  position: relative;
  align-self: center;
  z-index: 2;
  width: 600px;
  border-radius: 30px;
  margin-bottom: 50px;
  /* transform: translate(400px, -300px); */
}

/* Objective View */
.objectiveView {
  /* border: solid green; */
  /* display: flex;
  justify-content: center;
  gap: 12%; */
  background-color: #131f44;
  padding-bottom: 100px;
  /* border-bottom: solid grey; */
}

.objectiveTitleContainer {
  display: flex;
  justify-content: center;
  /* border: solid blue; */
}

.objectiveTitle {
  /* display: block; */
  font-size: 65px;
  margin-top: 100px;
  margin-bottom: 60px;
  background-color: white;
  width: 400px;
  text-align: center;
  border-radius: 30px;
}

.objectiveContentContainer {
  /* border: solid pink; */
  display: flex;
  justify-content: center;
  /* gap: 200px; */
  flex-wrap: wrap;
  padding: 10px;
  gap: 7vw;
}

.objectiveTextContainer {
  display: flex;
  /* border: solid orange; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
}

.textImageContainer {
  margin-top: 30px;
  /* border: solid blue; */
  width: 500px;
  min-width: 500px;
}

.objectiveContainer {
  height: 150px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 5%;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;

  /* border: solid orange; */
}
.objectiveText {
  font-size: 24px;
  text-align: start;
}

.objectiveImage {
  /* position: absolute; */
  z-index: 2;
  /* transform: translate(-30px, -440px); */

  max-width: 100%;
  border: solid white 20px;
  border-radius: 18px;
  margin-top: 30px;
}

.mainCodeImage {
  background-color: red;
  /* width: 100%; */
  height: 400px;
  background-image: url(../public/code.png);
  background-size: 250%;
  border: solid white 20px;
  border-radius: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.serverSideView {
  background-color: #131f44;
}

.serverSideTitleContainer {
  /* border: solid green; */
  display: flex;
  justify-content: center;
}

.serverSideTitle {
  display: block;
  font-size: 65px;
  margin-top: 100px;
  margin-bottom: 60px;
  background-color: white;
  width: 400px;
  text-align: center;
  border-radius: 30px;
}

.restAPIContainer {
  /* border: solid orange; */
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 30px; */
  padding: 1%;
  /* height: 100%; */
}

.gridItem {
  background-color: white;
  border-radius: 30px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
}

.crudImage {
  /* background-color: blue; */
  width: 420px;
  height: 150px;
  background-image: url(../public/crud.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.MongoDBImage {
  width: 420px;
  height: 150px;
  background-image: url(../public/mongoDB.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  /* align-self: flex-end; */
}

.mongooseImage {
  width: 420px;
  height: 105px;
  background-image: url(../public/mongoose.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-bottom: 20px;
}

.authImage {
  width: 420px;
  height: 150px;
  background-image: url(../public/authentication.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.securityImage {
  width: 420px;
  height: 230px;
  background-image: url(../public/security.png);
  background-size: 70%;
  background-repeat: no-repeat;
  transform: translate(15%);
}

.atlasImage {
  width: 420px;
  height: 200px;
  background-image: url(../public/atlas.png);
  background-size: 70%;
  background-repeat: no-repeat;
  transform: translate(15%);
  align-self: center;
  margin-top: 60px;
}

.herokuImage {
  width: 420px;
  height: 90px;
  background-image: url(../public/heroku.png);
  background-size: 70%;
  background-repeat: no-repeat;
  transform: translate(15%);
}

.reactImage {
  width: 420px;
  height: 150px;
  background-image: url(../public/react.png);
  background-size: 80%;
  background-repeat: no-repeat;
  /* transform: translate(15%); */
}

.parcelImage {
  width: 420px;
  height: 150px;
  background-image: url(../public/parcel.png);
  background-size: 80%;
  background-repeat: no-repeat;
  transform: translate(10%);
  margin-top: 78px;
}

.reactBootstrapImage {
  width: 420px;
  height: 150px;
  background-image: url(../public/react_bootstrap.jpeg);
  background-size: 80%;
  background-repeat: no-repeat;
  transform: translate(10%);
  margin-top: 78px;
}

.netlifyImage {
  width: 420px;
  height: 150px;
  background-image: url(../public/netlify.png);
  background-size: 80%;
  background-repeat: no-repeat;
  transform: translate(10%);
  margin-top: 78px;
}

.thumbsUpImage {
  width: 80px;
  height: 80px;
  background-image: url(../public/thumbs_up.png);
  background-size: 100%;
  background-repeat: no-repeat;

  margin-top: 78px;
  align-self: center;
}

.thumbsDownImage {
  width: 80px;
  height: 80px;
  background-image: url(../public/thumbs_down.png);
  background-size: 100%;
  background-repeat: no-repeat;

  margin-top: 78px;
  align-self: center;
}

.whatsNextImage {
  width: 100px;
  height: 100px;
  background-image: url(../public/next.png);
  background-size: 100%;
  background-repeat: no-repeat;
  /* transform: translate(50%); */
  margin-top: 78px;
  /* align-self: center; */
  /* border: solid red; */
}

.restAPIText {
  /* border: solid red; */
  width: 400px;
  font-size: 24px;
  text-align: start;
  /* padding: 3%; */
}

.restAPIImageContainer {
  border: solid pink;
}

.serverSideContainer {
  gap: 10px;
}

.restAPI {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-right: 3%;
  margin-left: 3%;
  /* border: solid blue; */
  height: 100%;
}

/* Page Views */

.pageView {
  background-color: #131f44;
}

.mainView {
  /* border: solid grey; */
  border-radius: 18px;
  margin-top: 30px;
  /* color: #131f44; */
  background-color: white;
}

.directorView {
  /* border: solid grey; */
  border-radius: 18px;
  margin-top: 30px;
  color: #131f44;
  background-color: white;
}

.directorViewImage {
  width: 75%;
}

.mainViewImage {
  /* border: solid red; */
  width: 95%;
}

.loginView {
  /* border: solid grey; */
  border-radius: 18px;
  color: #131f44;
  margin-top: 30px;
  background-color: white;
}

.movieView {
  /* border: solid grey; */
  border-radius: 18px;
  color: #131f44;
  margin-top: 30px;
  background-color: white;
}

.loginViewImage {
  width: 88%;
}

.signupView {
  /* border: solid grey; */
  border-radius: 18px;
  margin-top: 30px;
  color: #131f44;
  background-color: white;
}

.signUpViewImage {
  width: 82%;
}

.gridContainer {
  /* border: solid blue; */
  width: 100%;
}

.movieViewImage {
  width: 93%;
}

.actorView {
  /* border: solid grey; */
  border-radius: 18px;
  margin-top: 30px;
  color: #131f44;
  background-color: white;
}

.actorViewImage {
  width: 93%;
}

.pageViewTitleContainer {
  /* border: solid green; */
  display: flex;
  justify-content: center;
}

.retrospectiveTitleContainer {
  display: flex;
  justify-content: center;
}

.retrospectiveTitle {
  display: block;
  font-size: 65px;
  margin-top: 100px;
  margin-bottom: 60px;
  background-color: white;
  width: 500px;
  text-align: center;
  border-radius: 30px;
}

.retrospectiveSubTitle {
  margin-top: 60px;
}

.retrospectiveGridItem {
  background-color: white;
  border-radius: 30px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.retrospectiveItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-right: 3%;
  margin-left: 3%;
  /* border: solid blue; */
  height: 100%;
}

.retroImageTitle {
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.retrospectiveLastItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-right: 3%;
  margin-left: 3%;
  /* border: solid blue; */
  height: 100%;
}

.retroText {
  /* border: solid red; */

  font-size: 24px;
  text-align: start;
  /* padding: 3%; */
}

.pageContainer {
  display: flex;
  justify-content: center;
}

.containerContainer {
  width: 95%;
}
